<h1>Rental Cars</h1>
<h2>Bem vindo ao sistema de gestão de locação</h2>

<div>
  <%= link_to 'Categorias', car_categories_path%>
</div>
<div>
  <%= link_to 'Subsidiárias', rental_subsidiaries_path%>
</div>
<div>
  <%= link_to 'Modelos de carro', car_models_path %>
</div>